*.csv
*.pkl
*.Rdata
src/old/
src/envkkr/
text/
data/
data/patent_ik_orig.pkl
data/comp_funda2.pkl
data/stoxwe_post2005short.pkl
data/stoxmo_post2000short.pkl
data/stoxda_post2005veryshort.pkl
.Rproj.user/
src/__pycache__/
src/.vscode/
src/.ipynb_checkpoints
src/build/
src/dflda_py2/
src/dflda3/
src/envkkr/
src/GuidedLDA/
src/OCTIS/
src/octis_venv/
src/old/
src/.RData
src/.Rhistory
src/launch.json
.Rhistory
config.json
KnowledgeKRisk_10Ks.Rproj
